/* Used for classes that override the Material UI styling rules */
.schema-header {
  padding: 8px;
}

.schema-paper {
  /*padding: 16px !important;*/
}

.schema-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.schema-list-item {
  /*padding-left: 0 !important;*/
  /*padding-right: 0 !important;*/
}

.schema-paper-content {
  padding: 8px 8px 16px 8px;
}

.schema-select-control {
  margin: 4px;
  min-width: 120px;
  max-width: 300px;
}